h1{color: blue;}
p{color: green;}
.mytext{color: purple;}
div{
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}
body { 
  background-image: url('http://lisa.stuy.edu/~jordan.chan/proj/css/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
